
services:
  web:
    build: ./frontend
    expose:
      - "3000"
    depends_on:
      - api
    ports:
      - "3000:3000"
    restart: unless-stopped

  api:
    build: ./backend
    expose:
      - "8000"
    environment:
      - GEMINI_API_KEY=AIzaSyCSwTg3cxTdUoc9Y9GDmC1oLonf5ngcIwk
    restart: unless-stopped