version: '3.8'
services:
  web:
    build: ./frontend
    expose:
      - "3000"
    depends_on:
      - api
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3000:3000"
    restart: unless-stopped

  api:
    build: ./backend
    expose:
      - "8000"
    env_file: 
      - ./backend/.env 
    restart: unless-stopped